@charset "utf-8";
/*---tela---*/
* {
    margin: 0;
    padding: 0;
}

@media screen {
    body {
        background-color: #c06565;
        color: #cbf7c9;
    }

    header, main {
        background-color: transparent;
        border-radius: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    header h1, main h1 {
        font-size: 1.5em;
        margin: 0;
    }

    iframe#container {
        height: auto;
        border: none;
    }

    menu {
        display: none;
    }
}