@charset "UTF-8";

body{
    background-color: darkslategrey;
}

h1{
    font-family:comic sans ms, cursive, sans-serif;
    color: greenyellow;
}

h2{
    font-family:comic sans ms, cursive, sans-serif;
    color: greenyellow;
}

h3{
    font-family:comic sans ms, cursive, sans-serif;
    color: greenyellow;
}

h4{
    font-family:comic sans ms, cursive, sans-serif;
    color: greenyellow;
}

h5{
    font-family:comic sans ms, cursive, sans-serif;
    color: greenyellow;
}



p{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(214, 193, 0);
}

a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightblue;
}

ul{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(214, 193, 0);
}

li{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(214, 193, 0);
}