@charset "UTF-8";

header, header > nav {
    flex-flow: column nowrap;
    flex: 0 0 40px;
}

header > h1 {
    flex: 0 0 40px;
}

span#burger {
    display: flex;
}

header > nav > a {
    width: 90vw;
}