@charset "UTF-8";

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

div.container {
  background-color: blueviolet;
  display: flex;
}

div.item {
    background-color: lightcoral;
    border: 1px solid black;
    flex: auto;
    margin: 2px;
    text-align: center;
    padding: 10px;
}

div.itemex {
    background-color: lightcoral;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    padding: 20px;
    flex: 0 1 100px;
    max-height: 100px;
}

div.containerex {
    display: flex;
    background-color: blueviolet;
    margin: 12px;
    height: 150px;
}

h2 {
    color: blue;
    margin-top: 40px;
    margin-bottom: 0px;
}

p {
    color: #1f1818;
    font-size: 14px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 4px;
}

div.grid1 {
    background-color: brown;
    display: grid;
    height: 200px;

    grid-template: repeat(3, auto) / 1fr 2fr 1fr;
    gap: 10px;
    place-items: start normal;
    place-content: normal end;

    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

div.grid-item {
    background-color: lightcoral;
    text-align: center;
    padding: 10px;
}

div.grid2 {
    background-color: rgb(44, 42, 165);
    display: grid;
    height: 200px;

    grid-template: repeat(3, auto) / 2fr 1fr 1fr;
    gap: 10px;
    place-items: start normal;
    place-content: normal end;

    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

div.grid-item2 {
    background-color: rgb(128, 240, 240);
    text-align: center;
    padding: 10px;
}

div.grid3 {
    background-color: rgb(42, 165, 73);
    display: grid;
    height: 100px;

    grid-template: repeat(3, auto) / 2fr 1fr 1fr;
    gap: 10px;
    place-items: normal normal;
    place-content: normal normal;

    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

div.grid-item3 {
    background-color: rgb(128, 240, 162);
    text-align: center;
    padding: 10px;
}

div.item1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

div.item2{
    grid-row: 2/4;
    grid-column: 1/2;
}
div.item3{
    grid-area: 2/2/4/4;
}


div.grid4 {
    background-color: rgb(165, 42, 138);
    display: grid;
    height: 400px;

    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

div.grid-it4{
    background-color: rgb(221, 128, 240);
    text-align: center;
}

div.it1{
    grid-area: 1/1/3/4;
}

div.it2{
    grid-area: 3/1/4/4;
}

div.it3{
    grid-area: 4/1/-2/3;
}

div.it4{
    grid-area: 4/3/-2/3;
}

div.it5{
    grid-area: -2/1/-1/-1;
}